.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
  background-color: aliceblue;
  width: 75vw;
  height: 78vh;
  font-family: "Baloo Chettan 2", sans-serif;
}
a{
  color: #1BC3A7;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  opacity: 0.9;
  text-decoration: underline;
}


.div_bemvindo{
  border: solid white;
  display: flex;
  flex-direction: column;
  background-color: #1BC3A7;
  width: 35%;
  align-items: center;
  justify-content: center;
  color: white;
  & h1{
      font-size: 3em;
      margin-bottom: 1em;
  }

  & p{
      font-size: 1.4em;
  }
  
  & img{
      width: 40vh;
  }
}

.dados{
  width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & div{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    & p{
        font-size: 1.4em;
        padding-bottom: 3em;
    }
    & h1{
        font-size: 3em;
        padding-bottom: 1.5em;
    }
 
    
}


.button {
  background-color: #1BC3A7;
  border: 1px solid #1BC3A7;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 25px 50px;
  text-align: center;
  transition: transform 150ms, box-shadow 150ms;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
}

@media (min-width: 768px) {
  .button {
    padding: 10px 30px;
  }
}



.form {
  width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    & input{
        width: 60vh;
        background-color: transparent;
        border: none;
        border-bottom: black solid 1px;
        margin-bottom: 2.5em;
        height: 3.5vh;
        font-size: 1.3em;
        box-shadow: none;
        outline: none;
    }
}
